In [73]:
import pandas as pd
import glob

In [74]:
path = r'.' # use your path
all_files = glob.glob(path + "/*.xlsx")

dictionary = []

for filename in all_files:
    df = pd.read_excel(filename, index_col=None, header=0)
    dictionary.append(df)

frame = pd.concat(dictionary, axis=0, ignore_index=True)

In [75]:
frame.describe()

         word    tag    pos
count   17001  17002  17002
unique  16762     17     17
top        گل   NOUN   noun
freq       10  10839  10839

In [76]:
frame = frame.sort_values('tag')

In [77]:
frame

          word     tag        pos
3178      څونی     ADJ  adjective
2319     مشاده     ADJ  adjective
2320     مشتاق     ADJ  adjective
2321     مشتبه     ADJ  adjective
2322     مشترک     ADJ  adjective
...        ...     ...        ...
16725    رسماً  adverb        ADV
16724   راهيسې  adverb        ADV
16734  ژرترژره  adverb        ADV
17002    کرهني  adverb        ADV
5167        خو     NaN        NaN

[17003 rows x 3 columns]

In [61]:
#frame.isna().any()[lambda x: x]

In [78]:
frame = frame.dropna()

In [79]:
frame.to_excel('lexicon.xlsx', index=False)

In [42]:
!jupyter nbconvert --to script makedict.ipynb

[NbConvertApp] Converting notebook makedict.ipynb to script
[NbConvertApp] Writing 606 bytes to makedict.py